@using PagedList.Mvc
@model PagedList.IPagedList<DataRepository.WorksById>


@{
    ViewData["Title"] = "Show Titles";
}

<h1>List of titles</h1>

@using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @id = "searchFormId", @class = "form-horizontal", role = "form" }))
{
    <p>
        Search by Title: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<div>
    <h4>Books</h4>
    <hr />
    @foreach (var item in Model)
    {
        <dl class="row">
            <dt class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Title.TitleText)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Contributor.PurpleContributor.NamesBeforeKey) @Html.DisplayFor(modelItem => item.Contributor.PurpleContributor.KeyNames)
            </dd>
        </dl>

    }

</div>

<br />
<div class="pagination" style="margin-left: 400px">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
